/* Icon colors
=================*/

.white{
	color: white;
}
.blue{
	color: blue;
}
.red{
	color: red;
}
.orange{
	color: orange;
}
.yellow{
	color: yellow;
}
.pink{
	color: pink;
}
.brown{
	color: brown;
}
.cyan{
	color: cyan;
}
.magenta{
	color: magenta;
}
.purple{
	color:purple;
}
.green{
	color: green;
}
