
/* icon Prototype 
=============*/

.#{$prefix}{
	font-family: 'flexi';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-transform: none;

	/* Better Font Rendering 
	=========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	margin-right: 5px;
	padding: 8px;
	


}