/* Icon Sizing
=================*/

.big{
	font-size: (16*2) *1px;
	vertical-align: -15%;
}

.mid{
font-size: (16*1.5) *1px;
	vertical-align: -15%;
}

.sma{
	font-size: (16*0.75) *1px;
	vertical-align: -15%;
}