//===============
// Variables
//===============

$font-path : '../fonts/';
$font-name : 'flexi';
$prefix    : 'sf';

$linkbutton-color : #444 !default;
$linkbutton-background-color : #eee !default;

$icon-border-color : #eee !default;


