<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>sass-flexi example page</title>
	<!-- attcahe screen.css stylesheet -->
</head>
<body>

	<!-- create the container -->
	<div class="container">
		<!-- cerate the wrapper -->
       <div class="wrapper">
       	<!-- here you add the colimns  -->
       	<div class="col-6">Col-6</div>
       	<div class="col-6">Coll-6</div>

       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       	<div class="col-1">Col-1</div>
       </div>
       <!-- end of columns -->

       <!-- add new columns -->
       <div class="wrapper">
       	<div class="col-3">Col-3</div>
       	<div class="col-3">Col-3</div>
       	<div class="col-3">Col-3</div>
       	<div class="col-3">Col-3</div>

       	<div class="col-4">Col-4</div>
       	<div class="col-4">Col-4</div>
       	<div class="col-4">Col-4</div>
       </div>

       <!-- you can add also offset,push, and pull  -->
       <div class="wrapper">
         <div class="col-6 offset-3">Col-6 offset-3</div>
         <div class="Col-6 push-3">Col-6 push-3</div>
       </div>
  </div>
       <!-- typography -->
 <div class="container">
       <div class="wrapper">
       	<div class="col-4">
       		<h1>TITLE</h1>
             
             <h2>headline</h2>
       		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ullam, similique adipisci magnam officia accusamus temporibus ratione nam eligendi laborum eos ea minus asperiores voluptate praesentium laboriosam illo. Ullam, soluta.</p>

       		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, totam, quidem quis nisi quas nostrum ipsam voluptas ratione qui accusantium mollitia magni unde aliquid sapiente tempora iure ex veniam. Non?</p>

       		<p>Aperiam, illum enim eaque iure labore necessitatibus distinctio eius fugiat repellat aliquid. Labore, saepe debitis nemo perferendis non molestiae unde beatae. Odio, natus, non ipsa sapiente nulla excepturi libero obcaecati!</p>

       		<p>Nulla, totam, ad, quam eveniet sunt qui in voluptas quia porro officia illum blanditiis nostrum harum neque libero ut nisi iusto odio quod aspernatur dolorum modi earum fuga magnam aliquid?</p>

       		<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, repudiandae, ut, nostrum natus quasi eius assumenda aliquam reprehenderit neque commodi doloremque ducimus itaque ex distinctio quam quidem odit facilis. Saepe!</blockquote>

       		<pre><code>@mixin flexi(cool){
       		margin : 0px;
       	}</code></pre>

<p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipisicing elit. <em>loaoll</em> culpa labore pariatur maiores unde totam odio accusamus assumenda voluptatum nam? Facere, <code>quis</code> debitis ratione quisquam eveniet rerum dolore labore dignissimos?</p>

<ul>
	<li><a href="/">Lik-1</a></li>
	<li><a href="/">link-2</a></li>
	<li><a href="/">link-3</a></li>
</ul>

       	</div>
       </div>
	</div>
	
</body>
</html>